/* variables */
:root {
  /* main colors */
  --primary: #2f4172;
  --secondary-1: #423075;
  --secondary-2: #236267;

  /* shades */
  --primary-light: #4f608f;
  --primary-lighter: #7986ac;
  --secondary-1-dark: #3e3374;
  --secondary-1-light: #625192;
  --secondary-1-lighter: #897baf;
  --secondary-2-light: #417c81;
  --secondary-2-lighter: #68979b;

  /* store */
  --store: #7cc214;
  --store-light: #97d73a;
  --store-disabled: #b4eb63;

  /* black & white */
  --black: #0e0e0e;
  --black-light: #282828;
  --grey: #d0d0d0;
  --white: #f5f5f5;

  /* shadows */
  --shadow: 2px 2px 4px var(--black-light);
  --shadow-subtle: 1px 1px 4px var(--black-light);
  --text-shadow: 1px 1px 4px var(--black-light);
  /* fonts */
  /* como css no tiene soporte para fuentes en variables,
       dejo aca para copiar y pegar segun la necesidad */

  /* paragraph & card title */
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: 14px;

  /* h1 */
  font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;

  /* h2 */
  font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

/* HTML elements */
h1,
h2 {
  color: var(--white);
  text-shadow: var(--text-shadow);
}

nav {
  box-shadow: var(--shadow-subtle);
}

p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: var(--white);
}

h1 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
a {
  margin: 0;
  padding: 0;
  max-height: 60px;
}
body {
  background-color: var(--primary);
  margin: 0;
  position: relative;
  min-height: 100vh;
  scrollbar-gutter: stable;
}

.body-main {
  background-color: var(--primary);
  margin: 0;
  position: relative;
  min-height: 200vh;
}

main {
  padding-bottom: 2.5rem;
  min-height: 1200px;
}

footer {
  background-color: var(--primary-lighter);
  width: 100%;
  height: auto;
  bottom: 0;
  position: absolute;
}

/* classes */
.row-container {
  margin-left: 20px;
  padding-left: 10px;
}
.wrapper {
  margin-top: 0px;
  overflow-x: scroll;
  overflow: auto;
  display: flex;
  flex: 1 1 0px;
  flex-flow: row nowrap;
  height: 225px;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-1-lighter) var(--black-light);
  padding: 0;
  padding-top: 20px;

  min-width: 0;
  list-style: none;
}

.row-title {
  margin-bottom: 0;
}

.card {
  height: 200px;
  width: 256px;
  margin-right: 42px;
  min-width: 0;
  position: relative;
  background-color: var(--secondary-2);
  box-shadow: var(--shadow);

  flex: 1;
  flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 256px;

  list-style: none;
  z-index: 0;
}

.cart-card {
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: var(--store);
  border-radius: 3px;
  box-shadow: var(--shadow-subtle);
  padding-top: 0;
  padding-right: 0;
  padding-left: 2px;
  padding-bottom: 2px;
  border: none;
  cursor: pointer;
}

.carrito-image {
  display: block;
  height: 20px;
  width: 20px;
  margin: auto;
  margin-left: 0;
  padding-top: 3px;
}

.in-cart-card {
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: var(--store-disabled);
  border-radius: 3px;
  box-shadow: var(--shadow-subtle);
  padding-top: 0;
  padding-right: 0;
  padding-left: 2px;
  padding-bottom: 2px;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.launch-button {
  margin-left: 14px;
  background-color: var(--store);
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding-right: 8px;
  padding-left: 8px;
  color: var(--black);
}

.cart-card:hover,
.launch-button:hover {
  background-color: var(--store-light);
  box-shadow: none;
}

.image {
  height: 116px;
  width: 256px;
  background-color: #0e0e0e;
  padding: 0;
  margin: 0;
}

.game-title {
  padding-left: 14px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: 14px;
  text-transform: uppercase;
  height: 32px;
  overflow: hidden;
  text-overflow: "...";
}

.card-bottom-row {
  height: 25px;
  float: right;
  padding-right: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger,
.login {
  height: 60px;
  width: 60px;
}

.hamburger:hover,
.form-button:hover,
.carrito-image:hover,
.form-button-signup:hover,
.checkout-button:hover,
.login:hover,
.logo-button:hover,
.magnifying-glass:hover,
.cart-button:hover,
.comment-button:hover,
.share-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.in-cart-card > .carrito-image {
  opacity: 0.8;
  cursor: default;
}

.cart-button {
  height: 45px;
  width: 45px;
  margin-right: 15px;
}

.hamburger {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-1);
  border: none;
}

.logo {
  width: 150px;
  height: 150px;
  text-shadow: var(--shadow-subtle);
  color: var(--black);
  text-decoration: none;
}

.footer-logo {
  height: 100px;
  margin-left: 75px;
  width: 100px;
  margin-top: 20px;
}

.logo:hover {
  color: var(--black-light);
}

.sidebar-image {
  height: 60px;
  width: 60px;
  display: block;
  z-index: 1;
  padding-right: 10px;
}

.sidebar-text {
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: "Roobert", "Inter", Arial, Helvetica, sans-serif;
  margin: auto;
  margin-left: 0;
  text-shadow: var(--shadow-subtle);
}

.logo-holder {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  text-align: center;
}

.nav-left-container {
  display: flex;
  min-width: 120px;
}

.nav-right-container {
  display: flex;
  min-width: 120px;
  flex-direction: row-reverse;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #625192;
  height: 50px;
  width: 334.15px;

  margin: auto;

  padding: 0;
  border-radius: 30px;
  outline: var(--black) solid 2px;

  box-shadow: var(--shadow-subtle);
}

.empty-space {
  width: 60px;
  margin: 0;
  padding: 0;
}

.magnifying-glass {
  margin-left: auto;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
}

.search-bar-text {
  color: #f5f5f5d5;
  padding-left: 20px;
  font-size: 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-light);
  overflow: hidden;
  align-items: center;
}

.sidebar {
  display: none;
  height: 95.4%;
  background-color: var(--secondary-1);

  padding-right: 20px;
  position: absolute;

  top: 60px;
  left: 0;
  z-index: 1;
  overflow-x: hidden;

  align-items: center;
  align-content: center;
  text-align: center;
}

.form-container-login {
  width: 540px;
  height: 750px;
  background-color: var(--primary-lighter);
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: var(--shadow);
  outline: solid var(--black-light);
  text-align: center;
}

.form-main {
  padding-bottom: 2.5rem;
  min-height: 1000px;
}

.form-container-signup {
  width: 540px;
  height: 1000px;
  background-color: var(--primary-lighter);
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: var(--shadow);
  outline: solid var(--black-light);
  text-align: center;
}

.form-title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-shadow: var(--shadow-subtle);
  font-size: 32px;
  margin-bottom: 0;
}

.form-title-signup {
  padding-bottom: 17px;
  padding-top: 50px;
  text-shadow: var(--shadow-subtle);
  font-size: 32px;
  margin-bottom: 0;
}

.form-button-text {
  font-weight: bold;
}

form {
  display: flex;
  flex: 1;
  padding-left: 50px;
  flex-flow: column wrap;
  text-align: left;
  padding-top: 0;
  margin: 0;
}

.form-line {
  outline: solid #0e0e0e;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  opacity: 0.7;
  margin-bottom: 50px;
}

.form-special-login {
  display: block;
  margin: auto;
  padding-bottom: 25px;
  cursor: pointer;
}

.captcha {
  display: block;
  margin: auto;
  padding-top: 20px;
}

.form-special-login:hover {
  opacity: 0.7;
}

.form-special-login-container {
  padding-top: 60px;
}

.form-special-signup-container {
  padding-top: 50px;
}

.input-title {
  display: flex;
  flex: 1;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
}

.input-box {
  width: 85%;
}

div > .input-box {
  width: 100%;
}

.form-full-name {
  display: flex;
  gap: 40px;
}

.form-button {
  width: 120px;
  height: 50px;
  background-color: var(--secondary-1);
  border-radius: 4px;
  margin-top: 50px;
}

.form-button-signup {
  width: 120px;
  height: 50px;
  background-color: var(--secondary-1);
  border-radius: 4px;
  margin-top: 20px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  padding: 10px 0px 10px 10px;
  text-align: left;
}

.footer-column-logo {
  flex: 1;
  padding: 10px 0px 10px 10px;
  text-align: left;
}

.cart-menu {
  display: none;
  width: 500px;
  border: 1px solid var(--black);
  box-shadow: 4px 6px 4px var(--black-light);
  z-index: 4;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--primary-light);
}

.cart-item > p {
  margin-right: 10px;
}

.cart-info {
  padding: 0 5px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-lighter);
}

.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  border-top: 1px solid var(--black);
  padding: 5px 5px;
}

.checkout {
  display: flex;
  align-items: center;
}

.checkout-button {
  margin: 5px;
  text-align: center;
  background-color: var(--store);
  border-radius: 3px;
  box-shadow: var(--shadow-subtle);
  border: none;
  margin-left: 1vw;
  transition: 0.5s;
}

.checkout-button:hover {

  transform: skew(-2.5deg);
}

.cart-game-image {
  display: block;
  min-width: 135px;
  max-width: 135px;
  width: 135px;
  height: 60px;
}

.cart-game-title {
  flex-grow: 2;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.visible {
  display: block;
  box-shadow: var(--shadow);
}

.categories {
  display: flex;
  flex-direction: column;
  padding-left: 0.5vw;
  padding-left: 0px;
}

.category {
  display: flex;
  flex-flow: space-between;
  gap: 1vw;
  margin-bottom: 1em;
  cursor: pointer;
}

.category:hover {
  opacity: 0.7;
}

.tooltip {
  display: flex;
  position: absolute;
  left: 10px;
  top: -8px;
  z-index: 2;
  width: 90px;
  height: 25px;
  background-color: #7cc214;
  text-transform: uppercase;
  border-radius: 3px;
  /* visibility: hidden; */
}

.tooltip-text {
  text-align: center;
  align-items: center;
  margin: auto;
  color: var(--black);
}

.login-body {
  visibility: hidden;
}

.log-in-link-container {
  margin-top: 24px;
}

.log-in-link-container > p {
  font-size: 16px;
}

.sign-up-link-container {
  margin-top: 50px;
}

.sign-up-link-container > p {
  font-size: 16px;
}

.signup-link-anchor {
  color: var(--primary);
  font-weight: bold;
}

.signup-link-anchor:hover {
  color: var(--primary-light);
}

/* IDs */

/* loading-screen Carga */
.loading-screen {
  z-index: 3;
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  visibility: hidden;
  top: 0;
}

.loading-screen.visible {
  opacity: 1;
  visibility: visible;
}

.spinner-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.spinner-conteiner .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: solid 6px transparent;
  border-top-color: var(--white);
  border-left-color: var(--white);
  border-radius: 50%;
}

.spinner.begin {
  animation: cargador 1.2s linear infinite;
}

section.loading-screen > div {
  display: flex;
}

@keyframes cargador {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Media Queries */
.footer-mobile {
  visibility: hidden;
}

@media (max-width: 480px) {
  .cart-info {
    box-shadow: var(--shadow-subtle);
    border: none;
  }

  .cart-item {
    border: none;
  }

  .cart-menu {
    border: none;
  }

  .cart-game-title {
    flex-grow: 2;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cart-game-title {
    flex-grow: 2;
    padding-left: 5px;
  }
  .checkout-button {
    margin: 0;
    box-shadow: none;
    border: none;
    margin-left: 1vw;
  }

  .checkout-button > h1 {
    font-size: 1em;
  }

  .checkout > h1 {
    text-shadow: none;
  }

  .cart-menu {
    width: 100%;
    height: 100%;
    position: fixed;
  }

  .row-container {
    margin-top: 4rem;
  }

  .footer-mobile {
    padding-bottom: 1rem;
    margin-bottom: -20px;
    display: block;
    visibility: visible;
  }

  .footer-desktop {
    visibility: hidden;
    bottom: 0;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .sidebar {
    position: fixed;
  }

  .sidebar-image {
    height: 2rem;
    width: 60px;
  }

  .footer-column {
    padding: 0;
    text-align: center;
    max-height: 30px;
  }

  .footer-column-logo {
    padding: 0;
    text-align: center;
  }

  .footer-column > p {
    visibility: hidden;
    position: absolute;
    font-size: 0;
  }

  .footer-logo {
    height: 75px;
    width: 75px;
    margin-left: 75px;
    margin: auto;
    margin-top: 20px;
  }

  h2 {
    font-size: 25px;
  }

  .category > h2 {
    margin: auto;
  }

  .cart-button {
    margin-right: 0px;
  }

  .footer {
    padding-bottom: 5px;
  }
}

/* Animations */

.button-animation-1 {
  color: var(--white);
  text-align: center;
  transition: all 0.5s;
}

.button-animation-1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-animation-1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-animation-1:hover span {
  padding-right: 25px;
}

.button-animation-1:hover span:after {
  opacity: 1;
  right: 0;
}

/* animation 2 */

.launch-animation {
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.launch-animation:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--primary-lighter);
  z-index: -2;
}

.launch-animation:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--primary-lighter);
  transition: all 0.3s;
  z-index: -1;
}

.launch-animation:hover {
  color: #fff;
}

.launch-animation:hover:before {
  width: 100%;
}

/* In Game */

.breadcrumb{
  margin-bottom: 0;
  margin-top: 1vh;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumb > li{
  padding: 6px;
  list-style-type: none;
  text-decoration: underline;
  color: var(--secondary-2-lighter);
  cursor: pointer;
}

.breadcrumb > li:hover{
  opacity: 0.7;
}

.breadcrumb > p {
  color: var(--secondary-2-lighter);
}

.ingame-container{
  display: flex;
  height: 1400px;
}

.title{
  display: flex;
  justify-content: space-between;
  padding-left: 2px;
}

.title > img {
  border: solid 2px black;
  border-radius: 6px;
  margin: 8px;
  padding: 0 4px;
  box-shadow: var(--shadow-subtle);
}

.game-and-comments{
  flex: 3;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 20px;
}

.instructions-box{
  flex: 1;
}
.instructions{
  margin: 10px;
  padding: 9px;
  border-radius: 6px;
  background-color: var(--primary-light);
  box-shadow: var(--shadow-subtle);
}

.instructions-line{
  border: 1px solid black;
}

.videos > img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.comments-box{
  padding-bottom: 50px;
  margin-right: 8px;
  margin-top: 20px;
  display: flex;
  border-radius: 6px;
  background-color: var(--primary-light);
  box-shadow: var(--shadow-subtle);
}

.comments-box > div {
  flex: 1;  
}

.comments-box > div:first-child{
  display: flex;
  justify-content: flex-end;
}

.comments-box > div:last-child{
  padding-left: 6px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.comments{
  flex: 3;
  flex-direction: column;
}

.comment{
  border: solid var(--black) 1px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--primary-lighter);
  box-shadow: var(--shadow-subtle);
}

.comment > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment > div > div{
  display: flex;
  align-items: center;

}

.comment > p {
  margin-left: 10px;
  color: black;
}

.comment > div > div > h1 {
  color:black;
  text-shadow: none;
}

.game{
  display: flex;
  justify-content: center;
}

.game > img{
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}

.user-image{
  margin: 8px;
  height: 60px;
  width: 60px;
}

.another-user-image{
  height: 50px;
  width: 50px;
}

.input-comment{
  border-radius: 8px;
  width: 99%;
  margin-top: 10px;
  padding-bottom: 60px;
  box-shadow: var(--shadow-subtle);
}

.comment-button{
  margin-left: 10px;
  margin-top: 5px;
  width: 120px;   
  height: 50px;
	background-color: var(--secondary-1);
  border-radius: 4px;
  box-shadow: var(--shadow-subtle);
}

/* .form-button {
	width: 120px;
	height: 50px;
	border-radius: 4px;
	margin-top: 50px;
} */

.comment-stars{
  margin-top: 10px;
}

.star{
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.star:hover{
  transform: scale(1.5);
}

.ingame-main {
  display: none;
  width: 500px;
  border: 1px solid var(--black);
  box-shadow: 4px 6px 4px var(--black-light);
  z-index: 4;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: var(--primary-light);
}

.comment > div{
  border-bottom-color: 1px, var(--black-light);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.first-video{
  margin-top: 14px;
}